@import "src/assets/globale.styles";

.button-container {
  min-width: 170px;
  width: auto;
  height: 50px;

  letter-spacing: 0.5px;
  line-height: 50px;

  padding: 0 15px 0 15px;

  font-size: 15px;
  color: black;
  background-color: white;

  text-transform: uppercase;

  font-family: 'Open Sans Condensed';
  font-weight: bolder;

  border: 2.5px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;

  transition: .2s all ease;
  box-shadow: 4px 4px 0 0 $black-shadow;
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;

  &:hover {
    box-shadow: 0.5px 0.5px 0 0 black;
    top: 4px;
    left: 4px;
    background-color: $blue-light;
  }

  &.google-sign-in {
    color: white;
    background-color: $google-color;
    border-color: $google-color;
    box-shadow: 4px 4px 0 0 $google-shadow;
    font-weight: 900;

    &:hover {
      box-shadow: 0.5px 0.5px 0 0 $google-color;
      //background-color: $blue-light;
      filter: brightness(1.2);
    }
  }

  &.inverted {

    box-shadow: 4px 4px 0 0 $blue-light;
    border-color: $blue-light;

    &:hover {
      background-color: $blue-light;
      box-shadow: none;
    }
  }
}
