@import "src/assets/globale.styles";

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 15px;

  .logo-container {
    //height: 100%;
    //width: 70px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: filter .4s;

    &:hover {
      filter: drop-shadow(2px 2.5px 0.3px $blue-light);
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 800;
      transition: filter .2s;
      color: $soft-black;

      &:hover {
        //filter: drop-shadow(2px 2.5px 0.3px $blue-light);
        filter: drop-shadow(1.5px 2px 0.4px #a9bafc);
      }
    }
  }
}
