@import "src/assets/globale.styles";

.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  background: aliceblue;
  padding: 25px 15px;
  margin: 0 auto;
  border-radius: 10px;
  border: 4px solid #e1edf7;
  box-shadow: 4px 4px 0 2px #e1edf7;
}

h2 {
  margin: 10px 0;
}

.buttons-container {

  .button-container {
    margin-top: 45px;
  }

}

//.error-message {
//  border: 3px solid $red-dark;
//  padding: 10px;
//  background-color: #ffa1a1;
//  font-weight: bold;
//  border-radius: 5px;
//}